<%# ------------------------reto3 %>
<%# <form action="/views/saludo" method="post">
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Hola!">
</form> %>

<%# ------------------------reto4 %>

<%# <h1>HcUy6Re2LLBRtj</h1> %>

<%# ------------------------reto5 %>

<h1>Hola Reto 5</h1>

<% @arreglo.each do |i|%>
    <p><%= (i % 2) == 0 ? "#{i} Soy Par!" : "#{i} Soy Impar!"  %></p>
<% end%>

