<%# ------------------------reto3 %>
<%# <form action="/views/saludo" method="post">
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Hola!">
</form> %>

<%# ------------------------reto4 %>

<h1>HcUy6Re2LLBRtj</h1>